/* responsive.css */
/* Desktop 1250~1920 */
/* Tablet 1249~850 */
@media screen and (max-width:1249px){/* 1249이하부터는 tablet으로 보여라 */
    #wrap .intro {padding:0 80px;}
    #wrap .intro .container {
        /* width:100% 안써도 되는 이유 :
        max-width:1250px '1250이하는 모두 100%다'라는 뜻이어서 */
    }
    #wrap .intro .container h1:nth-child(2) {
        font-size:3.125rem; /* font-weight:700; */
    }
    #wrap .intro .container .sponsor_btn {
        width:270px; line-height:62px;
        font-size:1.375rem;
    }
    #wrap .intro .container .sponsor_question {
        width:333px; height:54px;
        font-size:1.25rem; letter-spacing:1.7;
    }
}
/* Mobile 849~320 */
@media screen and (max-width:849px){
    #wrap .intro {padding:0 15px;}
    #wrap .intro .container h1:nth-child(1) a img {width:40px;}
    #wrap .intro .container h1:nth-child(2) {
        font-size:1.875rem; 
    }
}